$primary-color: #75366A;
$primary-color-hover: #52264a;
$secondary-color: #8B8DE8;
$secondary-color-hover: #6063e0;
$tertiary-color: #76B08D;
$tertiary-color-hover: #599A73;
$tertiary-color-2: #D7DE71;
$tertiary-color-2-hover: #cbd448;
$dark-color: #ABA496;
$dark-color-hover: #948b7a;

$incorrect-color: #F44336;
$incorrect-color-hover: #ea1c0d;
$correct-color: #4CAF50;
$correct-color-hover: #3d8b40;